# General
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
BASE_API_URL=http://localhost:3000/api/v1
BASE_CLIENT_URL=http://localhost:5173

# Database
DATABASE_URL=your_database_url

# Storage
BUCKET_NAME=your_supabase_bucket_name
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

# MAIL
MAIL_HOST=smtp.your-email-service.com
MAIL_PORT=your_email_port
MAIL_USER=your_email_username
MAIL_PASSWORD=your_email_password

# WebPush
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key